body {
  color: #000000;
}

// variableContent
.variableContent>div {
    padding: 20px;
    background-color: #effafdf8;
    min-height: 50px;
    box-shadow: 2px 2px #74797aa8;
  }

// spacing
.marginTopBottom{
  margin-top: 15px;
  margin-bottom: 25px;
}

.paddingTopBottom{
  padding-top: 25px;
  padding-bottom: 30px;
}

.textShadow {
  text-shadow: 2px 2px #7e828383;
}
// buttons
.btnStyle{
  border-radius: 5px;
  height: 3em;
  font-weight: 500;
}

.roundedBorder{
  border-radius: 10px;
}

